<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container" *ngIf="!changeChannelMode">
        <a class="navbar-brand" [routerLink]="['']">
            <img src="assets/logo.png" class="d-flex align-self-center" alt="logo" height="30">
        </a>
        <button type="button" class="btn btn-light change-channel-btn" (click)="showChannelChanger()">
            <i class="fas fa-exchange-alt mr-2"></i> <strong>Change channel</strong>
        </button>
        <div class="search-container d-flex">
            <button type="button"
                class="btn btn-light btn-circle w-50 h-50 mr-2 d-flex align-items-center justify-content-center"
                [routerLink]="['/favorites']">
                <i class="fas fa-heart"></i>
            </button>
            <input type="text" class="form-control rounded-pill search-input" placeholder="Search by video title"
                [(ngModel)]="searchQuery" (keydown)="searchVideos($event)">
        </div>
    </div>

    <div class="container" *ngIf="changeChannelMode">
        <button type="button" class="btn btn-light" (click)="changeChannelMode = !changeChannelMode">
            <i class="fas fa-arrow-left"></i>
        </button>
        <input type="text" class="form-control rounded-pill channel-input"
            placeholder="Enter channel link or id and hit Enter" [(ngModel)]="newChannel"
            (keydown)="changeChannel($event)">
    </div>
</nav>

<div class="container navbar-top-fix pr-0 pl-0" [class.channel-mode]="changeChannelMode">
    <div *ngIf="isLoading" class="loader">loading</div>

    <div *ngIf="!isLoading && videos.length == 0" class="no-data">
        <i class="fas fa-video-slash"></i>
        <h3>No videos found</h3>
    </div>

    <div *ngIf="!isLoading && videos.length > 0" class="table-responsive-lg">
        <table class="table">
            <thead>
                <th></th>
                <th class="sortable" [class.active]="sortedBy == 'title'" [class.not-active]="sortedBy == 'publishedAt'"
                    [class.desc]="sortedByType == 'desc'">
                    <span (click)="sortBy('title')">
                        Title
                    </span>
                </th>
                <th class="sortable" [class.active]="sortedBy == 'publishedAt'" [class.desc]="sortedByType == 'desc'">
                    <span (click)="sortBy('publishedAt')">
                        Publish date
                    </span>
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let video of videos">
                    <td>
                        <img [src]="video.snippet.thumbnails.medium.url" class="thumbnail" alt="video thumbnail">
                    </td>
                    <td><span class="title-header">{{ video.snippet.title }}</span></td>
                    <td><span class="publishedat-header">{{ video.snippet.publishedAt | date:'d-m-yyyy' }}</span></td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="showDetails(video)">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!isLoading && videos.length > 0" class="d-flex justify-content-end p-3">
        <button type="button" class="btn btn-secondary paginate-btn mr-1" (click)="paginate('prev')"
            [disabled]="!prevPageToken">
            <i class="fas fa-caret-left"></i>
        </button>
        <button type="button" class="btn btn-secondary paginate-btn" (click)="paginate('next')"
            [disabled]="!nextPageToken">
            <i class="fas fa-caret-right"></i>
        </button>
    </div>
</div>