
.search-container {
    margin-left: 10px;
    
    .search-input {
        padding: 25px 50px 25px 85px;
        width: 285px;
        background: url('../../../assets/search.svg') no-repeat 45px 50% #F5F5F5;
        background-size: 24px;
        border: none;
        border-radius: 50%;
        transition: background-color .2s;

        &:not([disabled]):hover {
            background-color: #e6e6e6;
        }
    }
}

.channel-input {
    padding: 25px 50px 25px 85px;
    width: 100%;
    margin-left: 10px;
    background: url('../../../assets/change.svg') no-repeat 45px 50% #F5F5F5;
    background-size: 24px;
    border: none;
    border-radius: 50%;
    transition: background-color .2s;

    &:not([disabled]):hover {
        background-color: #e6e6e6;
    }
}

.thumbnail {
    height: 100px;
    margin: 10px 0;
    border-radius: 5px;
}

.title-header {
    display: block;
    min-width: 200px;
}

.publishedat-header {
    display: block;
    min-width: 100px;
}

.table {
    border-collapse: separate; 
    border-spacing: 0 5px;
    margin-bottom: 0;

    th {
        border: none;
        padding: 20px 0;
    }

    tr {
        &:hover {
            background: #EEEEEE;
        }

        td {
            vertical-align: middle;
            border-bottom: 1px solid #dee2e6;

            button {
                padding: 8px 30px;
                font-weight: bold;
                color: black;
                border-color: #CBCBCB;

                &:not([disabled]):hover {
                    background: #E02C33;
                    border-color: #E02C33;
                    color: white;
                }
            }
        }
    }
}

.sortable {
    span {
        position: relative;
        cursor: pointer;

        &:before {
            content: '\f0d8';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            top: -5px;
            left: -20px;
        }

        &:after {
            content: '\f0d7';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            bottom: -4px;
            left: -20px;
        }
    }

    &.active {
        &:not(.desc) span:before {
            opacity: .3;
        }

        &.desc span:after {
            opacity: .3;
        }
    }

    &.not-active, &.active ~ th {
        opacity: .5;
    }
}

.paginate-btn {
    background: #DCDCDC;
    border-color: #DCDCDC;
    color: #848484;
    font-size: 24px;
    line-height: 20px;

    &:not([disabled]):hover {
        background: #aaaaaa;
        color: black;
    }
}

@media screen and (max-width: 992px) {
    .channel-input {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 664px) {
    .search-container {
        width: 100%;
        margin-left: 0;

        .search-input {
            width: calc(100% - 60px);
            margin-top: 10px;
        }

        button {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 311px) {
    .change-channel-btn {
        width: 100%;
        margin-top: 10px;
    }
}