@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Nunito, "Helvetica Neue", sans-serif; }
* {
  font-family: Nunito, "Helvetica Neue", sans-serif;
}

.navbar {
  background: white !important;
  border-bottom: solid thin #F1F1F1;
}

.navbar-top-fix {
  padding-top: 67px;
  border-left: solid thin #dee2e6;
  border-right: solid thin #dee2e6;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}